html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #282828;
    color: white;
  }
}

main {
  max-width: 1200px;
  margin: 32px auto;
}

table {
  width: 100%;
}

table thead {
  text-align: left;
}

table th,
table td { 
  padding: 16px 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

a.button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
}

a.button:hover {
  background-color: grey;
  color: white;
}

.author {
 font-style: italic;
}

.views {
  float: right;
}